
<% @stations.each do |station| %>
  <ul>
    <li><%= station["station_name"] %> </li>
    <li><%= station["street_address"]%>, <%= station["city"] %> <%= station["state"] %> <%= station["zip"] %> </li>
    <li><%= station["fuel_type_code"] %> </li>
  </ul>
<% end %>
